nav {
  background: transparent;
  border-bottom: 2px solid #fff;
}

.navbar-brand {
  font-family: 'Operator Mono';
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}

.navbar-toggler {
  border: none;
  outline: none;
  font-size: 1rem;
  transition-property: all;
  transition-duration: 1s;
}

.navbar-toggler:hover {
  font-size: 1.32rem !important;
  color: #fff !important;
}

.nav-link {
  font-family: 'Operator Mono';
  text-transform: uppercase;
}

.icon-counter {
  border: 2px solid #fff;
  padding: .35rem .65rem;
  border-radius: 1rem;
  color: #fff;
}
