.Login {
  width: 60%;
  margin: 3rem auto;
}

label {
  font-family: 'Operator Mono';
}

.form-header {
  text-align: center;
  font-family: 'Operator Mono';
}

.btn-login {
  font-family: 'Operator Mono';
}
